.btn-editar {
    color:white;
    background-color: #ff9600;
}

.btn-eliminar {
    color:white;
    background-color: #cc1020;

}

.btn-visualizar {
    color:white;
    background-color: lightslategrey;
}

.btn-imprimir {
    color:white;
    background-color: #ff9600;
}

.btn-agregar {
    color:white;
    background-color: #8c96a8;
} /**/

.btn:hover, .btn:focus, .btn.focus {
    color: #464647;
}



	
